<div class="change-item">
  <div class="change-header">
    <div>
      <h3 class="change-title">{{truncate this.address 100}}</h3>
      <small>{{this.type}}</small>
    </div>
    <h4>{{action}}</h4>
  </div>
  <details>
    <summary>Open Details</summary>

    <div class="split">
      <div class="left">
        Before
        <pre>{{renderBefore this.change.before this.change.after this.change.before_sensitive this.change.after_sensitive}}</pre>
      </div>
      <div class="right">
        After
        <pre>{{renderAfter this.change.before this.change.after this.change.before_sensitive this.change.after_sensitive}}</pre>
      </div>
    </div>
  </details>
</div>